In [26]:
import pandas as pd
import seaborn as sns
from sqlalchemy import create_engine as ce

engine = ce("postgresql://rapidbus:Ronda90}Avon@10.1.3.103:5432/dw_staging")

In [27]:
sql_bus1 = "select * from bus1"

bus1_df=pd.read_sql(sql_bus1,engine)

bus1_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2689 entries, 0 to 2688
Data columns (total 27 columns):
bus_id               2689 non-null int64
bus_register_no      2689 non-null object
bus_model_id         2689 non-null int64
perkhidmatan         1305 non-null object
cbts_depotid         1488 non-null object
cbts_busid           2322 non-null float64
body_busno           2322 non-null float64
status               2689 non-null int64
depot_id             2689 non-null int64
bus_register         501 non-null datetime64[ns]
road_tax             2581 non-null datetime64[ns]
puspakom             2569 non-null object
start_permit         2471 non-null datetime64[ns]
end_permit           1973 non-null datetime64[ns]
tt_insurance         2119 non-null datetime64[ns]
noenjin              2618 non-null object
casis                2618 non-null object
no_lesen             1973 non-null object
tarikh_daftar        1961 non-null datetime64[ns]
bus_seat             1974 non-null float64
bus_stand            1974 non-null float64
bus_deck             1974 non-null float64
previous_depotid     2323 non-null float64
bus_lastupdate       2685 non-null datetime64[ns]
lease_from           24 non-null object
disabled_friendly    1580 non-null object
ssu_remark           197 non-null object
dtypes: datetime64[ns](7), float64(6), int64(4), object(10)
memory usage: 567.3+ KB

In [6]:
df = pd.read_csv('Bus_Info_List_20211011 - CBTS.csv')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1571 entries, 0 to 1570
Data columns (total 13 columns):
transp_bizr_id         1571 non-null object
vehc_id                1563 non-null object
vehc_lcns_no           1571 non-null object
actual_vehc_lcns_no    1571 non-null object
depot_id               1571 non-null object
seat                   1548 non-null float64
stand                  1548 non-null float64
deck                   1548 non-null object
body_bus_no            1393 non-null object
top_up_thold           1563 non-null float64
alert_thold            1563 non-null float64
max_quota_etm          1563 non-null float64
use_yn                 1563 non-null object
dtypes: float64(5), object(8)
memory usage: 159.7+ KB

In [13]:
df.columns

Index(['transp_Bizr_Id', 'vehc_Id', 'vehc_Lcns_No', 'actual_vehc_Lcns_No',
       'depot_Id', 'Seat', 'Stand', 'Deck', 'body_Bus_No', 'top_Up_Thold',
       'alert_Thold', 'max_Quota_Etm', 'use_Yn'],
      dtype='object')

In [14]:
df.columns = df.columns.str.replace('.', '')
df.columns = df.columns.str.replace('/', '_')
df.columns = df.columns.str.replace('\"', '')
df.columns = df.columns.str.replace('(', '')
df.columns = df.columns.str.replace(')', '')
df.columns = df.columns.str.replace('\n', ' ')
df.columns = df.columns.str.replace(' ', '')
df.columns = df.columns.astype(str)
df.columns = map(str.lower, df.columns)
df.columns

Index(['transp_bizr_id', 'vehc_id', 'vehc_lcns_no', 'actual_vehc_lcns_no',
       'depot_id', 'seat', 'stand', 'deck', 'body_bus_no', 'top_up_thold',
       'alert_thold', 'max_quota_etm', 'use_yn'],
      dtype='object')

In [20]:
pd.options.display.float_format = '{:,.0f}'.format

In [28]:
df.to_sql('bus_rkl', con=engine, index=False, if_exists='replace')